@charset "utf-8";
.content { font-size: 1.2rem; color: #000011 }
article { text-indent: 1rem; line-height: 1rem; font-size: 0.8rem }
p { text-indent: 1rem }
.card-block { padding: .5rem; text-align: justify; line-height: 1.2 }
.card-footer { font-size: .8rem; font-weight: 700 }
.card-top { align-items: center }
.seal { align-self: center }
header { border-bottom: thin solid #549BFF }
sup { vertical-align: text-top }
.text-large { font-size: 1.5rem; line-height: 1.3 }
.price { font-size: 4.5rem; line-height: 1; font-weight: 700 }
.text-lg-fluid { font-size: 1.3vw; line-height: 1.2 }
.center { margin: auto }
#banner { opacity: 0 }
.smaller { font-size: 50%; vertical-align: top }
.large { font-size: 300% }

@media screen and (max-width:1400px) {
}



@media screen and (min-width:1200px) {
#seal { display: none }
.award-text { font-size: 32px }
}
