/*=======================
    Counterup Css
=========================*/

/*=======================
    Counterup Style 5
=========================*/
.section-counterup{
	width: 100%;
	padding: 1rem 0;
	background-image: url("../../images/countup-banner_v2.jpg");
  background-repeat: repeat, no-repeat;
  background-color: $light;
  background-size: contain;
}
.funfact{
    &.counter-style--5{
        text-align: center;
        .fact-icon{
            i{
                font-size: .6rem;
                color: $orange;
            }
        }
        .content{
            span{
                color: $light;
                font-size: 1rem;
                font-weight: 700;
                margin-top: 1rem;
                display: inline-block;
				text-shadow: 1px 1px 0 rgba($dark,.6);
            }
            h2{
                color: $light;
                font-weight: 600;
                font-size: 1rem;
                margin: 0;
                margin-top: 9px;
                display: block;
                padding-bottom: .5rem;
            }
        }
        &.body-counter{
            .content{
				text-shadow: 1px 1px 0 rgba($dark,.6);
                span{
                    color: $light;
                    font-size: .8rem;
                    font-weight: 600;
                    margin-top: 0;
                    display: inline-block;
                    font-family: $headings-font-family;
                }
                h2{
                    color: $light;
                    font-weight: 600;
                    font-size: 1rem;
                    margin-top: .2rem;
                    padding-bottom: 0;
                    font-family: $headings-font-family;
                }
            }
        }

    }

}