/* Scss Document */
.bg-img{
    background: url("/styles/product-demonstrations/images/bg-img.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.strip{
    background: white;
    padding: .2rem .5rem;
    margin: 1rem 0;
    border-radius: 1rem;
    color: $red;
    text-align: center;
    font-size: 75%;
    font-weight: 600;
    display: inline-block;
}
.free{
    display: inline-block;
    animation-name: tada;
    animation-duration: 1s;
    animation-fill-mode: both;
    transform-origin: center bottom;
    animation-iteration-count: infinite;
}
#countdown{
    font-family: $font-family-monospace;
    font-weight: 800;
    font-size: 2rem;
}
.how-img{
    margin: 5%;
}
