/* Scss Document */

nav > .nav.nav-tabs{

  border: none;
    color:$white;
    background:$dark;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: .25rem .5rem;
    color:$white;
    background:$dark;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: $primary ;
}
.tab-content{
  background: $light;
    line-height: 25px;
    border: 1px solid $light;
    border-top:5px solid $primary;
    border-bottom:5px solid $primary;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: $primary;
    color:$white;
    border-radius:0;
    transition:background 0.20s linear;
}
