/* Scss Document */
article{text-indent:1rem;line-height:1rem;font-size:.8rem}
p{text-indent:1rem}
.content{font-size:1.2rem;color:$black}
.pricing{clear: both;text-align: center;max-width: 320px;margin: auto}
.pricing h3{font-size: 1.5rem;color: $primary}
.pricing h4{font-size: 1.75rem}
.pricing h5{font-size: .5rem;float: left;color:$dark;font-weight: 300;margin-bottom: 0}
.pricing h6{font-size: 3.5rem;color: $primary;float: right}
.text-large{font-size:150%}
.text-small{font-size:50%}
