/* Scss Document */
article{text-indent:1rem;line-height:1rem;font-size:.8rem}
p{text-indent:1rem}
.content{font-size:1.2rem;color:#001}
.pricing h3{font-size: 1.5rem}
.pricing h4{font-size: 1.75rem}
.pricing{vertical-align: middle;height: auto}
.text-large{font-size:150%}
.text-small{font-size:50%}