/* Scss Document */
.content {
	font-size: 1.2rem;
	color: #000011;
}
.list-style-item {
	position: relative;
	display: block;
	padding: .5rem 1.25rem;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.125);
}
.list-price {
	line-height: 1;
	text-align: center;
	margin: 2rem auto 0;
}
.starting {
	font-size: 60%;
	vertical-align: super;
}
.bd-bottom {
	border-bottom: thin solid #3D9CEB;
}
.award-text {
	line-height: 1;
	font-weight: 300;
	font-size: 1vw;
	@media screen and (min-width:1200px) {
		font-size: 32px;
	}
}
#awards .card-title {
	text-align: center;
}
.content {
	font-size: 1.2rem;
	color: #000011;
}
#banner {
	opacity: 0;
}
.seal {
	margin: 16% 0;
}
#seal {
	align-self: center;
	@media screen and (min-width:1200px) {
		display: none;
	}
}
#spokesperson img {
	max-width: 220px;
	margin: .25rem auto;
}
.price {
	font-size: 4.5rem;
	line-height: 1;
	font-weight: 700;
}
.text-lg-fluid {
	font-size: 1.3vw;
	line-height: 1.2;
}
.center {
	margin: auto;
}
article {
	text-indent: 1rem;
	line-height: 1.1;
	font-size: 0.8rem;
	text-align: justify;
}
p {
	text-indent: 1rem;
}
.card-block {
	padding: .5rem;
	text-align: justify;
	line-height: 1.2;
}
.card-footer {
	font-size: .8rem;
	font-weight: 700;
	margin: 0;
}
.card-footer a {
	color: $gray-100;
}
.card-footer a:hover {
	color: $gray-200;
}
.card-top {
	align-items: center;
}
.card-title {
	font-size: 1.2rem;
}
.card-primary {
	border-color: $primary;
}
.line-1 {
	line-height: 1;
}
.fifty {
	width: 50%;
}
.header-primary {
	background-color: lighten($info,40%);
	border-bottom-color: darken($info, 10%);
}
.contact {
	max-width: 400px;
	margin: 0 auto;
	background: #BCE4FF;
	label, input[type="phone"], input[type="email"], input[type="text"], textarea {
		font-size: 1rem;
		background: #D5EEFF;
		line-height: 1;
		padding: 1px 3px;
	}
	label {
		background: transparent;
	}
	textarea {
		border-width: 2px;
		border-style: inset;
		border-color: initial;
		border-image: initial;
		h3 {
			line-height: 1;
			margin-bottom: .25rem;
		}
	}
}
.btn-contact:hover {
	@include gradient-mine(#7ECDF4,#BCE4FF);
	color: $gray-600;
	text-shadow: 0 -2px 1px rgba(255, 255, 255, 0.5);
}
.btn-contact {
	color: $gray-900;
	text-shadow: 0 2px 1px rgba(255, 255, 255, 0.5);
	-webkit-font-smoothing: antialiased;
	font-weight: 900;
	padding: .3rem .5rem;
	border-radius: .5rem;
	@include gradient-mine(#BCE4FF,#7ECDF4);
}
textarea {
	width: 100%;
}
.bd-blue {
	border: thin solid #549BFF;
	padding: .25rem;
	border-radius: .3rem;
}
.bg-grey {
	background: #888888;
}
.bg-gradient-mine {
	@include gradient-mine($gray-300,$gray-700);
}
.bg-gradient-mine-reverse {
	@include gradient-mine($gray-700,$gray-300);
}
#spokesperson_videos .card .card-img-top{max-width: 220px;margin: 0 auto}
#awards .card {max-width: 500px}
#awards .card-body {padding-top: 0}
.text-large{font-size: 200%}
.list-group-indent{padding-left: 2rem}
.card-columns h3{font-size:  1.25rem}
