/* Scss Document */
.content {
	font-size: 1.2rem;
	color: #000011;
}
.list-style-item {
	position: relative;
	display: block;
	padding: .5rem 1.25rem;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.125);
}
.list-price {
	line-height: 1;
	text-align: center;
	margin: 2rem auto 0;
}
.starting {
	font-size: 60%;
	vertical-align: super;
}
.bd-bottom {
	border-bottom: thin solid #3D9CEB;
}
.award-text {
	line-height: 1;
	font-weight: 300;
	font-size: 1vw;
	@media screen and (min-width:1200px) {
		font-size: 32px;
	}
}
#awards .card-title {
	text-align: center;
}
.content {
	font-size: 1.2rem;
	color: #000011;
}
#banner {
	opacity: 0;
}
.seal {
	margin: 16% 0;
}
#seal {
	align-self: center;
	@media screen and (min-width:1200px) {
		display: none;
	}
}
#spokesperson img {
	max-width: 220px;
	margin: .25rem auto;
}
.price {
	font-size: 4.5rem;
	line-height: 1;
	font-weight: 700;
}
.text-lg-fluid {
	font-size: 1.3vw;
	line-height: 1.2;
}
.center {
	margin: auto;
}
article {
	text-indent: 1rem;
	line-height: 1.1;
	font-size: 0.8rem;
	text-align: justify;
}
p {
	text-indent: 1rem;
}
.card-block {
	padding: .5rem;
	text-align: justify;
	line-height: 1.2;
}
.card-footer {
	font-size: .8rem;
	font-weight: 700;
	margin: 0;
}
.card-footer a {
	color: $gray-100;
}
.card-footer a:hover {
	color: $gray-200;
}
.card-top {
	align-items: center;
}
.card-title {
	font-size: 1.2rem;
}
.card-primary {
	border-color: $primary;
}
.line-1 {
	line-height: 1;
}
.fifty {
	width: 50%;
}
.header-primary {
	background-color: lighten($info,40%);
	border-bottom-color: darken($info, 10%);
}
.contact {
	max-width: 400px;
	margin: 0 auto;
	background: #BCE4FF;
	label, input[type="phone"], input[type="email"], input[type="text"], textarea {
		font-size: 1rem;
		background: #D5EEFF;
		line-height: 1;
		padding: 1px 3px;
	}
	label {
		background: transparent;
	}
	textarea {
		border-width: 2px;
		border-style: inset;
		border-color: initial;
		border-image: initial;
		h3 {
			line-height: 1;
			margin-bottom: .25rem;
		}
	}
}
.btn-contact:hover {
	@include gradient-mine(#7ECDF4,#BCE4FF);
	color: $gray-600;
	text-shadow: 0 -2px 1px rgba(255, 255, 255, 0.5);
}
.btn-contact {
	color: $gray-900;
	text-shadow: 0 2px 1px rgba(255, 255, 255, 0.5);
	-webkit-font-smoothing: antialiased;
	font-weight: 900;
	padding: .3rem .5rem;
	border-radius: .5rem;
	@include gradient-mine(#BCE4FF,#7ECDF4);
}
textarea {
	width: 100%;
}
.bd-blue {
	border: thin solid #549BFF;
	padding: .25rem;
	border-radius: .3rem;
}
.bg-grey {
	background: #888888;
}
.bg-gradient-mine {
	@include gradient-mine($gray-300,$gray-700);
}
.bg-gradient-custom {
	@include gradient-mine($gray-700,$gray-300);
}
#spokesperson_videos .card .card-img-top{max-width: 220px;margin: 0 auto}
#awards .card {max-width: 500px}
#awards .card-body {padding-top: 0}
.text-light a {color:$light}
.text-large{font-size: 200%}
.text-faded{opacity: 0.6}
.notification{padding-top: 1rem; text-align: center;opacity: 0.6;line-height: 1;font-weight: 300;font-size: 60%;color: $light}
.list-group-indent{padding-left: 2rem}
.card-columns h3{font-size:  1.25rem}
.sidebar{font-size: 0.8rem;padding-right: 0;position: fixed;top: 137px}
.sidebar .nav-link {color: #E5F0FF!important}
.actor img{width: 160px;height: 180px}
.sup{font-size: 50%;line-height: 0;vertical-align: super}
.actor{position: relative;
	img{max-width: 180px;margin: 0 auto;}
	h3{font-size: 1.5rem;font-weight: 700}
	&:hover > .thumb-wrapper:before { color: #E5F0FF }
}
.modal-spokesperson{
	#talking-heads-video_html5_api{width:540px;height: 360px}
	#talking-heads-video{width:  540px}
	#form{left:111px}
	.modal-header,.modal-footer{width:540px}
}
#form { position: absolute; top: 100px; max-width: 320px; margin: 0 auto; background: #0073FF; border: #00397F thin solid; border-radius: .25rem; color: black;
	.holder { padding: 0.5rem }
}
.inputs{padding: .5rem;
	input { width: 100%; margin-bottom: 4px }
}
#vtigerFormSubmitBtn{padding: .25rem 1rem;@include gradient-mine($gray-100,$gray-300);margin-bottom: .25rem;
	&:hover{@include gradient-mine($gray-300,$gray-100);font-weight: 600}}
.thumb-wrapper {
    position: absolute;
    top: 45%;
    bottom: auto;
    left: 50%;
    margin-left: -24px;
    display: inline-block;
    width: 47px;
    height: 47px;
    cursor: pointer;
	background: rgba(229,240,255,0.5);
	border-radius: 50%;
	border: -4px solid rgba(0,0,0,1.00);
	&:before {
		font-size: 2rem;
		position: absolute;
		color: #0073FF;
		left: 0;
		top: -6px;
		left: -1px;
		bottom: auto;
		right: auto;
	}
}
footer a:hover{color: $light;}
