// stylelint-disable declaration-no-important

// Contextual backgrounds

@mixin bg-variant($parent, $color) {
  #{$parent} {
    background-color: $color !important;
  }
  a#{$parent},
  button#{$parent} {
    @include hover-focus {
      background-color: darken($color, 10%) !important;
    }
  }
}

@mixin bg-gradient-variant($parent, $color) {
  #{$parent} {
	  $bottom: darken( $color, 10%);
	border-color:$bottom $bottom $bottom; 
	background-repeat: repeat-x; 
    background: $color; /* Old browsers */
    background: -moz-linear-gradient(top,  $color 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $color 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $color 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $color 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $color 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color', endColorstr='$bottom',GradientType=0 ); 
  }
}
